/* Override these variables in your style sheet according to your requirements. */
:root{
	--row-margin-bottom: 25px;
	--col-gap: 20px;
}

/* Main Styles of Grid System. */
.row{
	margin-bottom: var(--row-margin-bottom);
	display: flex;
}
.col{
	margin-right: var(--col-gap);
	flex: 1;
}
[class*='col-']{
	margin-right: var(--col-gap);
}
.row .col:last-child{
	margin-right: 0;
}
.row [class*='col-']:last-child{
	margin-right: 0;
}
.col-1-12{
	min-width: 8.3333%;
}
.col-2-12{
	min-width: 16.6667%;
}
.col-3-12{
	min-width: 25%;
}
.col-4-12{
	min-width: 33.3333%;
}
.col-5-12{
	min-width: 41.6667%;
}
.col-6-12{
	min-width: 50%;
}
.col-7-12{
	min-width: 58.3333%;
}
.col-8-12{
	min-width: 66.6667%;
}
.col-9-12{
	min-width: 75%;
}
.col-10-12{
	min-width: 83.3334%;
}
.col-11-12{
	min-width: 91.6667%;
}
.col-12-12{
	min-width: 100%;
}